/Control$Color.class
/Control.class
/ControlSimulado.class
/Cruce$ControladorBarrera.class
/Cruce$ControladorFreno.class
/Cruce$ControladorSemaforo.class
/Cruce$DetectorBaliza.class
/Cruce$DetectorPresencia.class
/Cruce.class
/Enclavamiento.class
/EnclavamientoMonitor.class
/PreconditionFailedException.class
